#about-me-image {
  margin-top: 7px;
  margin-right: 15px;
  margin-bottom: 0px;
}

.img-float {
  float: left;
}

@media (max-width : 425px) {
  .img-float {
    float: none;
  }

  #about-me-image {
    margin-top: 7px;
    margin-right: 15px;
    margin-bottom: 10px;
  } 
}
